/*Body // Universal Stylings*/

body {
    box-sizing: border-box;
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 2vw;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*Header*/

#header {
    color: #001021;
    font-size: 2em;
}

#horizontal-rule {
    margin-top: -1%;
    border-bottom: 2px solid #00A9A5;
}

/*input / search bar */


.input-field {
}


/*
#list-input {
    width: 95%;
    border: 0;
    border: 2px solid #003459;
    background: transparent;   
}

#clear-sign {
    width: 5%;
    height: 100%;
    margin-left: -30px;
    background: transparent;
    border: none;
    border: 1px solid black;
} */


#list-input {
    width: 85%;
    border: 0;
    margin: 0 auto;
    padding: 0.3vw 0.2vw;
    border-bottom: 2px solid #003459;
    background: transparent;
    margin-right: -4vw;
}
  
#clear-sign {
    background: transparent;
    border: none;
    position: relative;
}

#list-input:focus {
    outline: 0;
    color: #001021;
}

#current-loc {
    border: none;
    background: transparent;
    position: relative;
    font-size: 1.5em;
    color: #2BDE73;
    filter: invert(0%);
}

#current-loc:hover {
    filter: invert(100%);
}

.btn {
    margin: 0 auto;
    border-radius: 4px;
    filter: invert(0%);
}

.btn-primary:hover {
    filter: invert(100%);
}

@media screen and (max-width: 600px) {
    .button-container {
        text-align: center;
        margin-bottom: 6px;
    }
}

@media screen and (min-width: 601px) {
    .button-container {
        text-align: left;
        margin-bottom: 12px;
    }
}

/*results list*/

ul,li { 
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; 
    vertical-align: middle;
}

.main-list {
    margin-top: 1%;
    text-align: left;
    height: 70vh;
    overflow: scroll;
}

.list-item {
    border: 2px solid #001021;
    border-radius: 2%;
    padding: 2% 5%;
    margin: 0 auto 8px auto;
    background: #11B5E4;
    color: #F7F7F7;
    font-size: 8px;
    width: 100%;
    box-shadow: 0 0 2px #000000; 
    opacity: 1;
    width: 100%;
    /*transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);*/
}


.list-text{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}

.list-comp {
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.text-part {
    width: 90%;
}

#item-name {
    font-size: 1.5em;
    font-weight: bolder;
}

#item-address {
    font-weight: lighter;
    font-size: 1em;
}

.delete-button {
    width: 10%;
    padding: 1%;
    margin: 0 auto;
    font-size: 2em;
}

#item-name {
    color: #F7F7F7;
}

.fa-minus {
    color: #DB504A;
}

.hidden {
    visibility: hidden;
}

/*Search Parameters section*/

.search-parameters {
    padding: 1vw 0;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-parameters label{
    font-size: 0.8em;
}
/* Filter section */

.filter-dropdown {
    display: inline;
}

.filter-dropdown label {
    font-size: 1em;
}

.filter-dropdown select {
    border: 1px solid black;
    box-shadow: none;
    background: transparent;
    background-image: none;
    width: 50%;
}

.filter-dropdown select:focus {
    outline: none;
}

/*Not Found Modal */

.not-found {
    border: 2px solid #003459;
    padding: 5%;
    margin: 5%;
    border-radius: 5px;
    background: white;
    box-shadow: 0.1vw 0.1vw 0.1vw;
}

@media screen and (min-width: 768px) {
    .not-found h3 {
        font-size: 1em;
        font-weight: bolder;
        color:#DB504A;
    }  

    .not-found p{
        font-size: 0.5em;
        color: #383838
    }
}

@media screen and (max-width: 767px) and (min-width: 401px){ 
    .not-found h3 {
        font-size: 2em;
        font-weight: bolder;
        color:#DB504A;
    }
    
    .not-found p{
        font-size: 1em;
        color: #383838
    }
}

@media screen and (max-width: 400px) {
    .not-found h3 {
        font-size: 4em;
        font-weight: bolder;
        color:#DB504A;
    }
    
    .not-found p{
        font-size: 3em;
        color: #383838
    }
}

/*map styles*/

#map {
    height: 70vh;
    width: 100%;
}